/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

/* Loading
***********************/
.loading {height:20em; width:100%; position:relative; }
//.loading:before {content: ''; display:block; height:50px; width:50px; background: url(../../../img/loading-cylon.svg); position:absolute; top:50%; margin-top:-25px; left:50%; margin-left:-25px;}
.loading .flexslider { opacity:0}

/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}


/* FlexSlider Necessary Styles
*********************************/
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden; position: relative;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/
.flexslider { margin: 0 0 1.5em; padding: 0 0 40px; background: #fff; position: relative; box-shadow: 1px 1px 5px #666666; zoom: 1; }
.flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.loading .flex-viewport { max-height: 300px; }
.flexslider .slides { zoom: 1;}
.carousel li { margin-right: 5px; }

/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a  { text-decoration:none;
	display: block;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	border: 2px solid #adadad;
	margin: -25px 0 0;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	z-index: 10;
	overflow: hidden;
	cursor: pointer;
	color: rgba(0,0,0,0.8);
	text-indent: -9999px;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
	box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
	@include mq(tablet) { display:none;}
	@include mq(phone) { display:none;}
}
.flex-direction-nav .flex-prev { left: -70px;  background:url('../../../img/fleche-back.png') no-repeat center center #ffffff; }
.flex-direction-nav .flex-next { right: -70px; background:url('../../../img/fleche-forward.png') no-repeat center center #ffffff;}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover { opacity: 0.7; }
.flex-direction-nav .flex-disabled { opacity: 0!important; filter:alpha(opacity=0); cursor: default; }


/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; /*bottom: 10px; */ bottom: 0; text-align: center;}
.flex-control-nav li {margin: 0 8px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 10px; height: 10px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; border-radius: 20px; box-shadow: inset 0 0 3px rgba(0,0,0,0.3); }
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev { opacity: 1; left: 10px;}
  .flex-direction-nav .flex-next { opacity: 1; right: 10px;}
}
