//structure
@import 'structure/mixins';
@import 'structure/variables';
@import 'structure/template';
@import 'structure/grid';
@import 'structure/typography';

// inc
@import 'inc/flexslider';

//theme
@import 'theme/base/header';
@import 'theme/base/footer';
@import 'theme/base/loader';
@import 'theme/base/taxonomy';
@import 'theme/base/page';
@import 'theme/index';
@import 'theme/acordeon';
@import 'theme/breadcrumb';
@import 'theme/steps_template';
@import 'theme/pack_template';
@import 'theme/jobs';
@import 'theme/contact';


*,
*:after,
*:before {
  @include box-sizing(border-box);
}


html {
	@include base-type($font-properties...);
}

body {
	// Ala Trent Walton
	// @include css-hyphens(auto);
	// @extend %breakword;
	background: url('../../../img/background-noise.png') #e9e9e9;
}

h1 {
	font-size: 2.5em;
	font-family: 'ralewaysemibold';
	font-weight:normal;
}

h2 {
	font-size: 1.5em;
	font-family: 'ralewaysemibold';
	font-weight:normal;
}

h3 {
	font-size: 1.1em;
	font-family: 'ralewayregular';
	font-weight:normal;
	letter-spacing:1px;
	line-height:1.5em;
}

h4 {
	font-size: 1.2em;
	font-family: 'ralewayregular';
	font-weight:normal;
}


/* ========= Helperclass =========== */	


%center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

%vertical-center {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
}

%horizontal-center {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
}

a { text-decoration:none; }

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}
