/*****************************/
/* tabs nav */
/*****************************/
.module-product-tab:hover .module-tab--list > li {
	display: block;
}

.module-tab--list.module-tab--list--active .module-tab--item,
.module-tab--list.module-tab--list--active .module-tab--item--close {
	display:block;
}

.hide-module-tab {
	// display:none;
}

.module-tab {
	width: 100%;
	background: #fff;
	margin-top: 0.5em;

	> ul {
		margin: 0;
		position: relative;
	
		> li {
			display: none;
			float:left;
			width: percentage(1/6);
			text-align: center;
			border-right: 1px solid #fff;
			@include mq(phone) { width:100%; }
		}

		.module-tab--active {
			display:block;
		}
	}

	label {
		display: block;
		color: #fff;
		background: $menu-green;
		background: linear-gradient(to bottom, $menu-green 0%, lighten($menu-green, 12%) 20%, lighten($menu-green, 5%) 60%, $menu-green 100%);
		padding:0.5em 0;
		transition: 0.3s background ease-in;
		@include mq(phone) { border-bottom: 1px solid #fff; }

		&:hover {
			cursor: pointer;
			color:$noir;
			background: $menu-green-hover;
		}
	}

	input[type=radio] {
		display: none;
	}

	.tab-content {
		background: #fff;
		width: 603%;
		width: calc( 600% + 6px);
		position: relative;
		text-align: left;
		display: none;
		@include mq(phone) { width:100%; position: static;}		
	}

	input[type=radio]:checked ~ .tab-content {
		z-index: 10;
		background: #fff;
		color: $noir;
		display: block;
	}

	input[type=radio]:checked ~ label {
		color:$noir;
		background: $menu-green-hover;
	}

	.tab-content-1 {
		//left: 100%;
	}

	.tab-content-2 {
		left: -100%;
		left: calc( -100% + -1px);
	}

	.tab-content-3 {
		left: -200%;
		left: calc( -200% + -2px);
	}

	.tab-content-4 {
		left: -300%;
		left: calc( -300% + -3px);
	}

	.tab-close {
		position: absolute;
		top:0;
		right: 0;
		width: 3em;
		//color: $noir;
		//background:#fff;
	}

	//style accordeon, not structure
	.product-full-content {
		width: 100%;
		padding: 2em;
		@include mq(phone) { padding: 1em;}
	}

	.product-half-content {
		position: relative;
		display: inline-block;
		vertical-align: top;
		width: 60%;
		padding: 2em;
		@include mq(phone) { width:100%; padding: 1em;}
	}

	.product-half-image {
		display: inline-block;
		vertical-align: top;
		width: 40%;
		padding: 2em;
		@include mq(phone) { width:100%; padding: 1em;}
	}

	h2 {
		text-align: left;
		text-transform: uppercase;
	}

	p {
		margin: 0;
		text-align: left;
	}
	
	//===========
	//Nutrition
	.block-product-nutrition-benefit {
		margin-bottom: 1.5em; 
		padding-top: 1.5em;
		padding-bottom: 1.5em;
		text-align:left;
		border-top: 1px dashed #AAAAAA;
		border-bottom: 1px dashed #AAAAAA;
	}

	.also-available {
		text-transform: uppercase;
		margin: 2em 0;
		text-align: center;
	}

	.icon-nutrition-top {
		margin-top: 2em;
		@include mq(phone) { margin-top: 1em; }
	}

	.one-sixth {
		float: left;
		width:percentage(1/6);
		@include mq(tablet) { width:percentage(1/3);}
		@include mq(phone) { width:50%;}

			img {
				max-width:50%;
				display: block;
				margin: 0 auto 1em;
			}
	}
	//Nutrition
	//===========

	//===========
	//Recipe
	.recipe-subtitle, h3 {
		margin-bottom: 0.5em;
		padding-bottom: 0.25em;
		border-bottom: 1px dashed #AAAAAA;
		@include mq(phone) { margin-bottom: 0.5em}
	}

	.bloc-recipe-ingredients {
		text-align: left;

		img {
			float:right;
			@include mq(tablet) { float:none; }

		}

		ol, ul  {
			font-size: .85em;
			line-height: 1.3em;
			@include mq(phone) { margin-left: 1em; }
		}
	}

	.bloc-recipe-preparation {
		ol, ul  {
			font-size: .85em;
			line-height: 1.3em;
			@include mq(phone) { margin-left: 1em; }
		}
	}
}

	.tab-content--active {
		// display:block;
	}
