.section-jobs {

	h2 {
		color: $green-principal;
		border-bottom: 1px dashed $gris-fonce;
		padding-bottom: .5em;
		margin-bottom: 1em;
	}

	h3 {
		color: $typo-gris-light;
		text-decoration: underline;
	}

	section {
		padding-bottom: 2em;
		margin-bottom: 3em;
		border-bottom: 5px solid $green-principal;
	}

	.bt-more {
		display: inline-block;
		background: url('../../../img/button-submit.svg') no-repeat;
		height: 30px;
		padding: .15em 1em 0 3em;
		border: 1px solid #ccc;
		text-transform: uppercase;
		color: $typo-gris;
		transition: 0.2s all ease-out;

		&:hover {
			background-color: $green-principal;
			color: #fff;
		}
	}

}