footer {
	margin-top: 4em;
	font-size: 0.75em;
	background: $noir;
	text-align:center;
	@include mq(tablet) { margin-top: 2em;}
	@include mq(phone) { margin-top: 2em;}

	p {
		margin: 0;
		padding: 1em 0;
		color: $white;
		display: inline-block;
	}
}

.menu-footer {
	display: inline-block;
	margin-right: 1em;

	ul	{
		margin: 0;
		list-style: none;
	}

	li {
		display: inline;
		padding: 0 1em;
		border-right: 1px solid #fff;

		&:first-child {
			margin-left: 1em;
			border-left: 1px solid #fff;
		}

		&:last-child {
			border-right: none;	
		}
	}

	a {
		color:#fff;
		text-transform: uppercase;
	}
}