footer {
	margin-top: 4em;
	background: $noir;
	text-align:center;
	@include mq(tablet) { margin-top: 2em;}
	@include mq(phone) { margin-top: 2em;}

	p {
		margin: 0;
		padding: 1em 0;
		color: $white;
		font-size: 0.75em;
	}
}