.site-header {
	
}

.site-header--top {
	width:100%;
	padding:1em 15%;
	background: $white;
	box-shadow: 0 1px 5px $gris-fonce;
	@include mq(lap) { padding: 1em 10%;}
	@include mq(tablet) { padding: 1em 5%;}
	@include mq(phone) { padding: 0.5em 2%;}
}

.site-branding {
	//width: 70%;
	display:inline-block;

	h1 {margin: 0;}
}

.site-branding  a {
	background: url('../../../img/logo-nsi.svg');
	display : block;
	height: 65px;
	width: 160px;
	text-indent: -9999px;
}

/*--------------------------------------------------------------
5.1 Menus socail et langues, Newsletter
--------------------------------------------------------------*/
.nav-social {
	width: 280px;
	float: right;
	display:inline-block;
	margin-top: 1.4em;
	@include mq(phone) { width:auto; margin-top: 0.5em;}
}

.bt-newsletter {
	display:inline-block;
	vertical-align:top;
	width: 65%;
	margin-bottom: 1em;
	text-align: center;
	border-right: 1px solid $gris;
	@include mq(phone) { width:auto;}

	a {
		background: url('../../../img/bt-newsletter.png') no-repeat 40px center;
		display: block;
		padding-left: 3.5em;
		position: relative;
		color: $noir;
		font-weight:normal;
		text-transform: uppercase;
		@include mq(phone) { padding: 1em 1.25em; background-position: center center}

		&:hover {
			color: $green-principal;
		}
	}

	span {
		@include mq(phone) { display:none;}
	}
}

.menu-social{
	display:inline-block;
	vertical-align:top;
	width: 35%;
	margin-bottom: 0.5em;
	@include mq(phone) { width:auto;}

	ul {
		margin: 0;
		//width: 130px;
		float: right;
	}


	li {
		display: inline;
	}

	a {
		text-indent: -9999px;
		float: left;
		display: block;
		height: 26px;
		width: 26px;
		border-radius: 26px;
		margin-left: 0.3em;
		transition: 0.2s all ease-in;
	}

	a[href*="facebook.com"] {
		background: url('../../../img/icon-facebook.svg') no-repeat $gris-fonce center center;
		text-align: center;
	}

	a[href*="twitter.com"] {
		background: url('../../../img/icon-twitter.svg') no-repeat $gris-fonce center center;
		text-align: center;
	}

	a[href*="linkedin.com"] {
		background: url('../../../img/icon-linkedin.svg') no-repeat $gris-fonce center center;
		text-align: center;
	}

	a:hover {
		background-color: $green-principal;
	}
}

//==== fallback svg IE8, merci antoine :(
.no-svg .menu-social  {
	
	a[href*="facebook.com"] {
 		background-image: url('../../../img/icon-facebook.png');
 	}

 	a[href*="twitter.com"] {
 		background-image: url('../../../img/icon-twitter.png');
 	}

 	a[href*="plus.google.com"]{
 		background-image: url('../../../img/icon-google-plus.png');
 	}

 	a[href*="tripadvisor.fr"]{
 		background-image: url('../../../img/icon-trip-advisor.png');
 	}
}

/*--------------------------------------------------------------
5.2 Menus
--------------------------------------------------------------*/
.main-navigation {
	clear: both;
	display: block;
	width: 100%;
	padding:0 15%;
	z-index:9999;
	@include mq(lap) { padding: 0 10%;}
	@include mq(tablet) { padding: 0 5%;}
	@include mq(phone) { padding: 0 2%;}
}
//============
//1st level
//============
.main-navigation ul {
	list-style: none;
	margin: 0;
	position: relative;
}

.main-navigation .sub-description {
	// position: absolute;
	top: 3em;
	//left:2em;
	padding-bottom: 0.5em;
	display: block;
	color: $typo-gris;
	line-height: 1.4em;
	width:100%;
	text-align: left;
	text-transform:none;
	z-index:9999;
	@include mq(phone) {display:none;}
}

.main-navigation .menu {
	border-bottom: 10px solid transparent;
	transition: 0.3s all ease-in;

	&:hover {
		border-bottom: 10px solid $menu-green-hover;
	}
}

.main-navigation .menu > li {
	background: $menu-green;
	background: linear-gradient(to bottom, $menu-green 0%, lighten($menu-green, 12%) 20%, lighten($menu-green, 5%) 60%, $menu-green 100%);
	// position: relative;
	display:inline-block;
	width: percentage(1/6);
	vertical-align:middle;
	//magic-number to fix inline-block problem
	margin-right: -4px;
	text-align:center;
	line-height:0.95em;
	cursor:pointer;
	border-right: 1px solid $white;
	//border-left: 1px solid $menu-green-dark;
	transition: 0.3s all ease-in;
	@include mq(tablet) {line-height:0.75em;}
	@include mq(phone) {
		width:100%;
		height: inherit;
		text-align:left;
		padding: 0.25em 1em;
		border-right:none;
		border-bottom: 2px solid $white;
	}

	&:hover {
		background: $menu-green-hover;

		a {
			color:$noir;
		}
	}
}
.main-navigation .sub-menu li:first-child {
	padding: 0 3em .5em 2em;
	margin-right: 0;
	display: block;
	color: $typo-gris;
	text-transform: uppercase;
	color: $typo-green;
	line-height: 1.4em;
	text-align: left;
	z-index:9999;
	@include mq(phone) {display:none;}

	&:hover a { text-decoration:none}


	&::before {
		content:"";
		border:none;
	}

	.sub-item {
		font-size: 1.1em;
		font-family: 'ralewaysemibold';
	}

	.sub-description {
		border-top: 3px solid $typo-green;
		padding: 1em 0 0;
		margin-top: 0.5em;
	}
}

.main-navigation li:last-child {
	border-right: none;
}

.main-navigation .menu > li > a {
	position: relative;
	display:block;
	height:4em;
	text-decoration: none;
	color:$white;
	font-size: 0.75em;
	width:100%;
	text-transform:uppercase;
	z-index:9000;
	@include mq(tablet) {font-size:0.7em;}
	@include mq(phone) {
		position: static;
		height:4em;
		padding:0.5em 0;
		font-size: 1em;
		line-height:1.2em;
		transform: translate(0, 0);
	}

	.sub-item {
		width: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

//============
//2nd level
//============
.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	display: none;
	float: left;
	left: 0;
	right:0;
	position: absolute;
	top: 48px;
	border-top:10px solid transparent;
	z-index: 1000;
	min-height: 320px;
	width:100%;
	// width: 604%;
	// width: calc( 600% + 6px);
	padding: 2.5em 0 2em 0;

	//fallback
	background-color: #eaeaea;
	background: 
		linear-gradient(to bottom, rgb(255, 255, 255) 0%, #fff 100%),
		linear-gradient(to bottom, rgb(255, 255, 255) 0%, #fff 100%),
		linear-gradient(
			to bottom,
			rgba(255,255,255,1) 0%,
			rgba(255,255,255,1) 30%,
			rgba(234, 234, 234, 1) 100%
		);
	background-size: 
		2px 100%,
		2px 100%,
		100% 100%;
	background-position:
		30%,
		63%;
	background-repeat:
		no-repeat,
		no-repeat,
		no-repeat;
	@include mq(tablet) { top:44px }
	@include mq(phone) {
		position: static;
		width: 100%;
		min-height:none;
		background: #eaeaea;
		padding: 0.5em 1.5em 1em;
	}
}

/*
.main-navigation #menu-item-18 ul {
	left: -100%;
	left: calc( -100% + -1px);
}

.main-navigation #menu-item-19 ul {
	left: -200%;
	left: calc( -200% + -2px);
}

.main-navigation #menu-item-160 ul {
	left: -300%;
	left: calc( -300% + -3px);
}

.main-navigation #menu-item-161 ul {
	left: -400%;
	left: calc( -400% + -4px);
}

.main-navigation #menu-item-166 ul {
	left: -500%;
	left: calc( -500% + -1px);
}
*/

//============
//2nd level
//============

.main-navigation ul ul a {
	//width: 200px;
	color: $typo-gris;
}
.main-navigation ul ul li {
	width: percentage(1/3);
	display: inline-block;
	float:left;
	text-align: left;
	padding: 0.7em 0 0.7em 1em;
	position:relative;
	//magic-number to fix inline-block problem
	margin-right: -4px;
	z-index:2000;
	@include mq(phone) {
		width: 100%;
	}

	&:hover::before {
		border-top: 5px solid transparent;
		border-bottom: 5px solid transparent;
		border-left: 5px solid $typo-green;
	}
}

.main-navigation ul ul li::before {
	content:"";
	width:0;
	height:0;
	position: absolute;
	left: 0;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid $typo-gris;
}

.main-navigation .sub-menu li:hover a {
	color: $typo-green;
	text-decoration: underline;
}
.main-navigation ul ul a:hover {
}
.main-navigation ul li:hover > ul {
	display: block;
}
.main-navigation .current_page_item a,
.main-navigation .current-menu-item a {
}

.main-navigation .menu .current-menu-parent {
	background: $menu-green-hover;

	a {
		color:$noir;
	}
}

/* Small menu */
.menu-toggle {
	cursor: pointer;
	display: none;
}
@media screen and (max-width: 600px) {
	.menu-toggle,
	.main-navigation.toggled .nav-menu {
		display: block;
	}

	.menu-toggle {
		display: inline-block;
		color: #fff;
		padding: 0.75em 0.75em 0.75em 2.25em;
		font-size: 	1.25em;
		background: url('../../../img/icon-menu.svg') no-repeat $green-principal 0.5em center ;
	}

	.main-navigation ul {
		
		display: none;

		// display: block;
	}
}
